.cart{
  
    width: 443px;
    height: 279px;
    background: white;
    position: absolute;
    right: 100px;
    top: 70px;
    border: 4px solid #E4E4E4;
    /* padding: 10px; */
    visibility: hidden;
    transition: 0.1s ease;
    opacity: 0;
    transform: translateY(-30px);
}

.cart__active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.cart__nav{
    margin-bottom: 20px;
    padding: 20px;
}

.cart__nav img{
    float: right;
    cursor: pointer;

}

.cart__item{
    padding: 20px;
    height: 200px;
    overflow-y: auto;
}

.cart__item__wrap{
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.cart__img{
    width: 149px;
    height: 86px;
}

.cart__item h2{
    font-size: 30px;

}

.cart__item p{
    font-size: 30px;
}

.cart__item button{
    width: 100%;
    height: 55px;
    border: 3px solid #000000;
    background: none;
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.07em;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .cart{
        right: 0px;
        width: 100%;
    }
}