*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories__checkbox{
    margin-top: 20px;
}

.categories__checkbox label{
    font-weight: 500;
    margin-left: 10px;
}

.sort{
    display: flex;
    align-items: center;
}

.sortby{
    font-weight: 500;
    color: #656565;
}

.sort img{
    margin-right: 10px;
}

.price{
    display: flex;
    align-items: center;
}

.product{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* preloader */
.preloader{
    width: 30px;
    height: 30px;
    background: white;
    border-top: 3px solid black;
    border-radius: 50%;
    animation: preloader 0.5s infinite linear;
    
}

@keyframes preloader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.product__filter{
    width: 30%;
    height: 500px;
    
}

.product__filter__nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* display: none; */
    visibility: hidden;
}

.product__filter__nav img{
    height: 20px;
}

.product__area{
    width: 70%;
    display: grid;
    grid-template-columns: 283px 283px 283px;
    grid-template-rows: auto auto auto;
    gap: 30px;
}


.image{
    position: relative;
}

.image:hover.image button{
    display: block;
}

.image img{
    height: 390px;
    width: 281px;
}

.image button{
    /* position: absolute; */
    bottom: 0px;
    position: absolute;
    width: 281px;
    height: 46px;
    background: black;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: none;
    cursor: pointer;
   
 
}

.category{
    font-size: 20px;
    font-weight: 700;
    color: #656565;
}

.price{
    font-weight: 400;
    color: #656565;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.product__bestseller{
    width: 127px;
    background: red;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination img{
    cursor: pointer;
}

.prevBut{
    /* display: none; */
}

.pageNumber{
    margin-left: 20px;
    margin-right: 20px;
}

.paginationBtn{
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.paginationBtn a{
    font-weight: 500;
    color: #B4B4B4

}

.paginationBtn a{
    margin: 10px;
}

.previousBtn a{
    font-weight: 8000;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.nextBtn a{
    font-weight: 8000;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.active a{
    color: black
}

.cat{
    display: block;
}

.filterIcon{
    display: none;
}

@media screen and (max-width:768px) {
    .nav{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .product{
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }

    .product__filter{
        /* display: none; */
        position: fixed;
        top: 0px;
        background: white;
        width: 100%;
        left: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        height: 90vh;
        z-index: 2;
    }

    .product__filter__disabled{
        display: none;
    }

    .product__filter__nav{
        visibility: visible;
    }

    .sortby{
        display: none;
    }

    .product__area{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0px;
        align-items: center;
    }

    .test{
        width: 100%;
        margin-bottom: 30px;
    }

    .image img{
        width: 100%;
    }

    .image button{
        width: 100%;
        display: block;
    }

    .cart{
        font-size: 18px;
    }

    .filterIcon{
        display: block;
    }

    .cart{
        display: none;
    }
}